@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;500;900&display=swap");

:root {
  --cor-background: #f0f8ff;
  --cor-preto: #000000;
  --cor-branco: #ffffff;
  --cor-azul-principal: #212c5b;
  --cor-azul-secundario: #3d66ba;
  --cor-cinza-principal: #585858;
  --cor-cinza-secundario: #cccccc;
  --cor-amerelo-principal: #fac705;
  --cor-amarelo-secundario: #c29905;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
}

body {
  background-color: var(--cor-background);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Poppins", sans-serif;
}

.pokemon__container {
  background-color: var(--cor-branco);
  border: 1px solid var(--cor-preto);
  border-radius: 5px;
  box-shadow: 1px 1px 2px var(--cor-cinza-principal);
  padding: 20px;
  max-width: 450px;
  min-height: 400px;
}

/* Título */

h1 {
  font-weight: 900;
  font-size: 21px;
  text-align: center;
  letter-spacing: 1px;
  text-shadow: 1px 2px 2px var(--cor-cinza-secundario);
}

h1 span {
  color: var(--cor-azul-secundario);
}

hr {
  margin-top: 10px;
  border-top: 2px solid var(--cor-cinza-principal);
}

/*  Logo */

.pokemon__logo,
#pokemon__imagens {
  text-align: center;
}

.pokemon__logo img {
  width: 80%;
  margin: 10px 0;
}

/* Formulário de Busca */

#pokemon__form {
  font-weight: 900;
  font-size: 17px;
  color: var(--cor-azul-principal);
  text-shadow: 1px 2px 2px var(--cor-cinza-secundario);
}
/*  */
#pokemon__form input {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 1px solid var(--cor-cinza-secundario);
  border-radius: 5px;
}

#pokemon__form input[type="submit"] {
  background: var(--cor-azul-principal);
  color: var(--cor-branco);
  letter-spacing: 1px;
  font-weight: 900;
  cursor: pointer;
}

#pokemon__form input:focus {
  outline-color: var(--cor-azul-principal);
}

/* Imagens dos Pokemons */

#pokemon__imagens img {
  border: 1px solid var(--cor-cinza-secundario);
  border-radius: 50%;
  box-shadow: 1px 2px 3px var(--cor-azul-principal);
  margin: 10px 10px;
}

/* Descrição dos Pokemons */
#pokemon__descricao {
  font-family: monospace;
  text-align: center;
  font-size: 15px;
  border: 1px solid var(--cor-amarelo-secundario);
  background: var(--cor-amerelo-principal);
  border-radius: 5px;
  padding: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .pokemon__container {
    padding: 15px;
  }

  h1 {
    font-size: 18px;
  }

  .pokemon__logo img {
    width: 60%;
  }

  #pokemon__imagens img {
    min-width: 25%;
  }
}
